{
  "presets": [
    ["react"],
    ["env", {
      "targets": {
        "browsers": ["Android > 4.0", "iOS > 6.0"]
      },
      "modules": false
    }]
  ],
  "plugins": [
      "transform-runtime",
      "syntax-dynamic-import",
      "transform-class-properties",
      "transform-object-rest-spread"
  ]
}
